
experiments/MNIST/output/mnist_epoch0.pdf
experiments/MNIST/output/mnist_epoch1.pdf
experiments/MNIST/output/mnist_epoch2.pdf
experiments/MNIST/output/mnist_epoch3.pdf
experiments/MNIST/output/mnist_epoch4.pdf
experiments/MNIST/output/mnist_epoch5.pdf
experiments/MNIST/output/mnist_epoch6.pdf
experiments/MNIST/output/mnist_epoch7.pdf
experiments/MNIST/output/mnist_epoch8.pdf
experiments/MNIST/output/mnist_epoch9.pdf
data/mnist/processed/test.pt
data/mnist/processed/training.pt
data/mnist/raw/t10k-images-idx3-ubyte
data/mnist/raw/t10k-labels-idx1-ubyte
data/mnist/raw/train-images-idx3-ubyte
data/mnist/raw/train-labels-idx1-ubyte
experiments/MNIST/data/mnist/processed/test.pt
experiments/MNIST/data/mnist/processed/training.pt
experiments/MNIST/data/mnist/raw/t10k-images-idx3-ubyte
experiments/MNIST/data/mnist/raw/t10k-labels-idx1-ubyte
experiments/MNIST/data/mnist/raw/train-images-idx3-ubyte
experiments/MNIST/data/mnist/raw/train-labels-idx1-ubyte
experiments/MNIST/output/mnist_epoch10.pdf
experiments/MNIST/output/mnist_epoch11.pdf
experiments/MNIST/output/mnist_epoch12.pdf
experiments/MNIST/output/mnist_epoch13.pdf
experiments/MNIST/output/mnist_epoch14.pdf
experiments/MNIST/output/mnist_epoch15.pdf
experiments/MNIST/output/mnist_epoch16.pdf
experiments/MNIST/output/mnist_epoch17.pdf
experiments/MNIST/output/mnist_epoch18.pdf
experiments/MNIST/output/mnist_epoch19.pdf
experiments/MNIST/output/basic_mnist_epoch0.pdf
experiments/MNIST/output/basic_mnist_epoch1.pdf
experiments/MNIST/output/basic_mnist_epoch2.pdf
experiments/MNIST/output/basic_mnist_epoch3.pdf
experiments/MNIST/output/basic_mnist_epoch4.pdf
experiments/MNIST/output/basic_mnist_epoch5.pdf
experiments/MNIST/output/basic_mnist_epoch6.pdf
experiments/MNIST/output/basic_mnist_epoch7.pdf
experiments/MNIST/output/basic_mnist_epoch8.pdf
experiments/MNIST/output/basic_mnist_epoch9.pdf
